<div class="well post-header">
		<ul>
			<% @post.categories.each do |category| %>
				<li><a class="btn btn-mini btn-success"><%= category.name %></a></li>
			<% end %>
		</ul>
		<h4>
			<span class="title"><%= @post.title %></span>
			<small class="quiet"> by </small>
			<span class="text-info"><%= @post.user.name %><%= image_tag avatar_url_small(@post.user) %></span>
			<small class="quiet"><%= time_ago_in_words(@post.created_at) %> ago</small>
		</h4>
		<p class="quiet"><%= @post.description %></p>
		<%= link_to "#{@post.url}", "http://#{@post.url}" %>
</div>
<% @post.comments.each do |comment| %>
	<div class="well comments-list">		
			<p>
				<small>
					<%= comment.body %>
					<span class="quiet"> by </span>
					<span class="text-info"><%= comment.user.name %></span>
					<small class="quiet"><%= time_ago_in_words(@post.created_at) %> ago </small>
				</small>
				<% if comment.user == current_user %>
					<%= link_to "Edit", edit_post_comment_path(@post, comment), class: "btn btn-mini btn-warning hiding" %>
					<%= link_to "Delete", "#{params[:id]}/comments/#{comment.id}", method: "delete", class: "btn btn-mini btn-danger hiding" %>
				<% end %>
			</p>
	</div>
<% end %>
<% if logged_in? %>
	<%= form_tag "#{params[:id]}/comments", method: "post", class:"form-horizontal" do %>
		<%= label_tag(:body, "Comment") %>
		<%= text_area_tag(:body) %>
		<%= submit_tag("New Comment", class:"btn btn-primary") %>
	<% end %>
<% end %>

