<div class="page-header my-header">
	<h3><%= @category.name %> Posts</h3>
	<ul>
	<% Category.all.each do |category| %>
		<li><%= link_to "#{category.name}", category_path(category), class: "btn btn-small btn-success" %></li>
	<% end %>
	</ul>
</div>

<% @category.posts.each do |post| %>
	
	<div class="well text-center vote-box">
		<%= link_to "Upvote", vote_post_path(post, vote: true), method: 'post', remote: true %>
		<span id="post_<%= post.id %>_total"><%= post.total_votes.to_s %></span>
		<%= link_to "Downvote", vote_post_path(post, vote: false), method: 'post', remote: true %>
	</div>

	<div class="well post-header">
		<ul>
			<% post.categories.each do |category| %>
				<li><a class="btn btn-mini btn-success"><%= category.name %></a></li>
			<% end %>
		</ul>
		<h4>
			<%= post.title %> 
			<small class="quiet"> by </small>
			<span class="text-info"><%= post.user.name %><%= image_tag avatar_url_small(post.user) %></span>
			<small class="quiet"><%= time_ago_in_words(post.created_at) %> ago </small>
		</h4>
		<p class="quiet"><%= post.description %></p>
		<%= link_to "#{post.url}", "http://#{post.url}", class: "no-hover" %>
		<small><%= link_to "#{post.comments.count} comments", post_path(post), class: "no-hover" %></small>
	</div>
<% end %>