
<ul class="nav">
  <li>
    <%= link_to "PostIt", root_path, class:"brand" %>
  </li>
 <% if logged_in? %>
  <li>
    <%= link_to 'All Posts', posts_path %>
  </li>
  <li>
  	<a class="new-post-button" href="<%= new_post_path %>"><i class="icon-plus icon-white"></i>New Post</a>
  </li>
  <li>
    <a class="new-category-button" href="<%= new_category_path %>"><i class="icon-plus icon-white"></i>New Category</a>
  </li>
</ul>
<ul class="nav pull-right">
  <li>
  	<%= link_to "#{current_user.name}", user_path(current_user) %>
  </li>
  <li>
  	<%= link_to 'Logout', logout_path %>
  </li>
</ul>
 <% else %>
  <li>
  	<%= link_to 'Login', login_path %>
  </li>
 <% end %>
</ul>
